<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622330408201-s7pktguko6sadfhc8m7f24mkqvdfg8nf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622330408201-s7pktguko6sadfhc8m7f24mkqvdfg8nf</string>
	<key>API_KEY</key>
	<string>AIzaSyCTgmdDp9OrVlAhUTvDS2bigW5SbSkgbvY</string>
	<key>GCM_SENDER_ID</key>
	<string>622330408201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.QuintoSemestre.Underway</string>
	<key>PROJECT_ID</key>
	<string>underway-105f6</string>
	<key>STORAGE_BUCKET</key>
	<string>underway-105f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622330408201:ios:cbdcae1b904f97d7a3b7d8</string>
	<key>DATABASE_URL</key>
	<string>https://underway-105f6-default-rtdb.firebaseio.com</string>
</dict>
</plist>